#game-page {
    flex-direction: row
}

button {
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
}

.room-info-block {
    flex-direction: column;
    margin: 20px;
    width: 250px;
    height: 100%
}

.room-info {
    flex-direction: column;
    height: 20%;
}

#disconnect-button {
    margin-top: 10px;
    padding: 5px 20px;
}

.players-block {
    flex-direction: column;
    height: auto;
}

.player-info {
    flex-direction: column;
    margin-bottom: 10px;
}

.status-name-field {
    flex-direction: row;
    margin-bottom: 3px;
}

.player-status {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.player-status.not-ready {
    background-color: var(--not-ready-status-color);
}

.player-status.ready {
    background-color: var(--ready-status-color);
}

.progress-bar {
    border: 1px solid var(--main-button-border-color);
    width: 100%;
    height: 25px;
}
.progress-indicator {
    height: 25px;
    width: 0%;
    background-color: var(--ready-status-color);
}

.game-block {
    position: relative;
    background-color: antiquewhite;
    width: 600px;
    height: 600px;
    margin: 10px auto auto 70px;
}

#ready-button {
    padding: 20px 60px;
}

.timer-before-start {
    width: 100px;
    height: 100px;
    font-size: 60px;
    font-weight: bold;
}

.text-for-game {
    width: 200px;
    height: auto;
}
.typed-text {
    background-color: var(--ready-status-color);
}
.next-letter {
    border-bottom: 1px solid var(--ready-status-color);
}
.time-for-game {
    position: absolute;
    top: 0;
    right: 0;
}
.rating-modal {
    border-bottom: 1px solid var(--main-button-border-color);
    background-color: var(--white);
    position: relative;
    width: 200px;
    height: auto;
}
#close-button {
    position: absolute;
    top: 0;
    right: 0;
}
.close-button{
    position: absolute;
    top: 0;
    right: 0;
}